body {
  background-color: #000000;
}

h1 {
  color: #ff6300;
  text-align: center;
}

p {
  color: #00ff00;
  text-align: center;
}

.continue {
  background-color: #cfcfcf;
  border: 5px solid #ff6300;
  color: #000000;
  text-align: center;
  width: 190px;
}
