body {
  background-color: #000000;
  margin: 0 1.5%;
}

form {
  margin: 0 1.5%;
}

label {
  background-color: #000000;
  color: #ff6300;
  margin: 0 1.5%;
  width: 200px;
}

input {
  align-items: center;
  background-color: #000000;
  border: 5px solid #ff6300;
  color: #ff6300;
  margin: 0 1.5%;
  text-align: center;
}

select {
  align-items: center;
  background-color: #000000;
  border: 5px solid #ff6300;
  color: #ff6300;
  margin: 0 1.5%;
  text-align: center;
}
